body {
    background-image: url(./images/pattern-background-desktop.svg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-color: hsl(225, 100%, 94%);
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
}

section {
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -200px;
    box-shadow: 0 0 20px 10px rgb(221, 217, 247);
}

.container {
    height: 70px;
    width: 300px;
    background-color: aliceblue;
    display: flex;
    margin: 15px auto;
    border-radius: 10px;
    padding: 7px 20px;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
}

#icon {
    height: 40px;
    width: 40px;
}

.weighted {
    font-weight: 700;
}

p {
    width: 300px;
    margin: 10px auto;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

button {
    width: 300px;
    height: 40px;
    margin: 25px auto;
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    box-shadow: 0 15px 10px 2px hsl(225, 100%, 94%);
}

button:hover {
    background-color: hsl(225, 100%, 66%);
    cursor: pointer;
}

#hero {
    object-fit: cover;
    width: 400px;
    border-radius: 15px 15px 0 0;
}

#con  {
    display: flex;
    gap: 20px;
}

#change {
    color: hsl(245, 75%, 52%);
}

#change:hover {
    color: hsl(225, 64%, 57%);
    text-decoration: none;
}

.dark {
    color: hsl(223, 47%, 23%);
}

.cancel {
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    text-decoration: none;
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
}

a {
    font-weight: 700;
}
